@tailwind base;
@tailwind components;
@tailwind utilities;


:root[data-color-theme="light"] {
    --color-primary: 98 0 238;
    --color-primary-variant: 55 0 179;
    
    --color-secondary: 3 218 198;
    --color-secondary-variant: 1 135 134;
    
    --color-background: 255 255 255;
    --color-surface: 255 255 255;
    
    --color-error: 176 0 32;
    
    --color-on-primary: 255 255 255;
    --color-on-secondary: 0 0 0;
    --color-on-background: 0 0 0;
    --color-on-surface: 0 0 0;
    --color-on-error: 255 255 255;
}

:root[data-color-theme='dark'] {
    --color-primary: 187 134 252;
    --color-primary-variant: 55 0 179;
    
    --color-secondary: 3 218 198;
    --color-secondary-variant: 3 218 198;
    
    --color-background: 18 18 18;
    --color-surface: 18 18 18;
    
    --color-error: 207 102 121;
    
    --color-on-primary: 0 0 0;
    --color-on-secondary: 0 0 0;
    --color-on-background: 255 255 255;
    --color-on-surface: 255 255 255;
    --color-on-error: 0 0 0;
}
